---
layout: default
title: xBehave.net
---
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
{% for post in site.posts reversed %}
{% assign prefix = post.title | truncate: 8, '' %}
{% if prefix == 'Headline' %}
    <div class="item{% if post.title == 'Headline-1' %} active{% endif %}">
      <img src="/img/{{ post.title }}.jpg" alt="">
      <div class="container">
        <div class="carousel-caption">
  {{ post.content }}
          <a class="btn btn-large btn-primary" href="https://nuget.org/packages/Xbehave/">Get it!</a>
        </div>
      </div>
    </div>
{% endif %}{% endfor %}
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->
<div class="container marketing">
  <div class="featurette">
    <img class="featurette-image pull-right" src="/img/xbehave_356x356.png">
    <h2 class="featurette-heading">Gherkin syntax. <span class="muted">.NET code.</span></h2>
    <p class="lead">xBehave.net introduces <a href="https://github.com/cucumber/cucumber/wiki/Gherkin/">Gherkin</a> syntax to .NET in a way that's easy to learn, easy to write and easy to read. Ideally suited to a variety of testing styles (e.g. BDD, TDD, ATDD, etc.), xBehave.net can be used for acceptance tests, integration tests, unit tests or any other ad-hoc testing scenarios.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="/img/xunit.png">
    <h2 class="featurette-heading">Extends xUnit.net. <span class="muted">Seamless integration.</span></h2>
    <p class="lead">Use any existing <a href="http://xunit.net/">xUnit.net</a> tooling to execute xBehave.net scenarios. Mix and match standard xUnit.net tests and xBehave.net scenarios in the same assembly or even in the same class. Use xBehave.net unobtrusively alongside other frameworks (e.g. NUnit, MSpec, etc.) in the same solution.</p>
  </div>
</div><!-- /.container -->
